.serviciosBody {
    h2 {
        flex: 0 0 100%;
        text-align: center;
        font-size: 36px;
        padding-top: 50px;
        &::after {
            content: "";
            display: block;
            width: 25%;
            height: 1px;
            margin: auto;
            background: black;
            position: relative;
            top: 10px;
        }
    }
}
.serviciosBlockOne {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    div {
        width: 280px;
        height: 220px;
        margin: 20px auto;
        display: flex;
        filter: $shadow;
        &.boxOne {
            background: url("../assets/images/photo\ of\ brown\ bench\ near\ swimming\ pool.jpg");
            background-size: cover;
            background-position: center;
        }
        &.boxTwo {
            background: url("../assets/images/white\ private\ plane\ on\ airstrip.jpg");
            background-size: cover;
            background-position: center;
        }
        &.boxThree {
            background: url("../assets/images/white\ cruise\ ship\ on\ sea\ during\ daytime.jpg");
            background-size: cover;
            background-position: center;
        }
        &.boxFour {
            background: url("../assets/images/blue\ Volkswagen\ Polo\ 5-door\ hatchback.jpg");
            background-size: cover;
            background-position: center;
        }
        &.boxFive {
            background: url("../assets/images/white\ and\ blue\ identification\ card.jpg");
            background-size: cover;
            background-position: center;
        }
        p {
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            align-self: flex-end;
            font-weight: 600;
            background: $main;
        }
    }
    @media (min-width: 600px) {
        margin: 80px 200px;
    }
    @media (min-width: 900px) {
        margin: 80px 50px;
        flex-direction: row;
        justify-content: space-between;
        div {
            width: 200px;
            height: 150px;
        }
    }
    @media (min-width: 1440px) {
        div {
            width: 250px;
            height: 150px;
        }
    }
    @media (min-width: 2560px) {
        div {
            width: 350px;
            height: 200px;
        }
    }
}
.serviciosBlockTwo {
    background-color: $main;
    padding: 40px 100px;
    margin: 0 0 60px;
    position: relative;
    h3 {
        display: inline-block;
        font-size: 36px;
        padding: 0 0 20px;
        margin: 0 0 30px;
        position: relative;
        &::before {
            display: block;
            content: "";
            width: 50%;
            height: 1px;
            background: black;
            position: absolute;
            bottom: 0;
        }
    }
    p {
        padding: 20px 0;
    }
    ul {
        padding-bottom: 100px;
        li {
            list-style: circle inside;
        }
    }
    a {
        background: $darker;
        color: black;
        text-align: center;
        padding: 10px 35px;
        filter: $shadow;
        position: absolute;
        bottom: 50px;
        transition: ease-in-out 200ms;
        &:hover {
            padding: 9px 30px;
        }
    }
}
